body{
	background: #eee;
	padding: 5px;
}

.save_address{
	width: 100%;
	height: 40px;
	line-height: 40px;
	background: #F97E24;
	border: none;
	outline: none;
	color: white;
}
/*没有地址*/
.noplace_box{
	position: relative;
	width: 100%;
	height: 100%;
}
.noplace{
	width:215px;
	height: 215px;
	margin: 120px auto;
}
.noplace p{
	text-align: center;
	color: #999;
}
.address_add_logo{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background: #fff;
	height: 45px;
	line-height: 45px;
	text-align: center;
	font-size: 0.9rem;
	color: #F97E24;
}
.address_add_logo i{
	margin-right: 8px;
}
.write_address{
	margin-top: 44px;
	display: none;
	background: #fff;
}
.write_address .button{
	padding: 60px 15px;
	background: #eee;
}
.write_address .button button{
}
.write_address_message{
	box-sizing: border-box;
	line-height: 40px;
	margin:0 10px;
	border-bottom: 1px solid #eee;
}
.write_address_message span{
	font-size: 0.9rem;
	margin-left: 3px;
}
.write_address_message input{
	border: none;
	outline: none;
}
.write_address_message i{
	float: right;
	font-weight: bold;
	color: #333;
	font-size: 0.9rem;
}
.confirm_address_box{
	display: none;
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.6);
}
.confirm_address_box .confirm_address{
	position: absolute;
	width: 85%;
	/*padding: 15px;*/
	top:35%;
	left: 7.5%;
	background: white;
	border-radius: 3px;
}
.confirm_address_phone{
	text-align: center;
	font-size: 1.05rem;
	color: #333;
	margin-top:20px;
}
.address_confirm,.name_confirm{
	color: #888;
	font-size: 0.96rem;
	text-align: center;
}
.address_confirm{
	margin-top:12px;
}
.name_confirm{
	margin-top: 3px;
	margin-bottom: 20px;
}
.ok_or_no {
	border-top:1px solid #dedede;
}
.ok_or_no li{
	width: 50%;
	float: left;
	text-align: center;
	padding: 15px 0;
	font-size: 1rem;
	color: #333;
}
.ok_or_no li:first-child{
	border-right:1px solid #dedede;
}
.reminder{
	display: none;
	background: rgba(0,0,0,1);
	border-radius: 10px;
	padding: 4px 10px;
	display: inline-block;
	color: white;
	position: fixed;
	top:40%;
	left: 30%;
	z-index: 9999;
}
