img{
	width: 100%;
}
ul li{
	padding-left: 15px;
}
ul li a{
	display: block;
	width: 100%;
	border-bottom: 1px solid #dedede;
	padding: 12px;
	font-size: 0.9rem;
	color: #333;
}
ul li a i{
	float: right;
	font-size: 0.4rem;
	color: #bbb;
	font-weight: bold;
}
